<div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-4 h-screen">
  <div *ngIf="!isLoading; else loading">
    Loading
  </div>
  <ng-template #loading>
    <div class="bg-gray-100 p-4 text-gray-500 flex items-start justify-between">
      <!-- First Column (Home vs Away) -->
      <div class="flex flex-col items-center space-y-2 w-full">
        <!-- Home Team Logo and Name -->
        <div class="flex flex-col items-center space-y-2">
          <img 
            [src]="getLogoUrl(matchData.home)"
            alt="{{ matchData.home }} Logo" 
            class="h-10 w-10"
            loading="lazy">
          <span class="text-lg font-semibold">{{ matchData.home }}</span>
        </div>
        
        <!-- Score (Home vs Away) -->
        <div class="flex items-center justify-center h-10 text-2xl font-bold text-gray-700">
          {{ matchData.finalScore.home.runs }} - {{ matchData.finalScore.away.runs }}
        </div>
        
        <!-- Away Team Logo and Name -->
        <div class="flex flex-col items-center space-y-2">
          <img 
            [src]="getLogoUrl(matchData!.away)"
            alt="{{ matchData!.away }} Logo" 
            class="h-10 w-10"
            loading="lazy">
          <span class="text-lg font-semibold">{{ matchData.away }}</span>
        </div>
        
        <!-- Inning-by-Inning Score (Home vs Away) -->
        <div class="mt-4">
          <h3 class="text-xl font-semibold text-gray-700">Inning-by-Inning Score</h3>
          <div *ngFor="let inning of matchData.scoreByInning; let i = index" class="flex justify-between mt-1">
            <span>Inning {{ i + 1 }}:</span>
            <span>{{ inning.home?.runs !== undefined && inning.home?.runs !== null ? inning.home.runs : 'X' }} 
              - 
              {{ inning.away?.runs !== undefined && inning.away?.runs !== null ? inning.away.runs : 'X' }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="bg-gray-200 p-4">
      <ng-container *ngFor="let data of matchData.description">
        <h1>{{ data }}</h1>
      </ng-container>
    </div>
  </ng-template>
</div>