<nav class="bg-blue-800 text-white p-4 flex items-center justify-between">
  <div class="text-xl font-bold">
    MLBScore
  </div>
  <ul class="flex space-x-6">
    <li><a href="/" class="hover:text-gray-300">Home</a></li>
    <li><a href="/scores" class="hover:text-gray-300">Scores</a></li>
    <li><a href="/teams" class="hover:text-gray-300">Teams</a></li>
    <li><a href="/about" class="hover:text-gray-300">About</a></li>
  </ul>
</nav>
<div class="grid grid-cols-[auto_1fr] gap-4 h-screen">
  <!-- Left Column (Calendar) -->
  <div class="bg-gray-200 p-4 flex justify-center">
    <p-datepicker
      [(ngModel)]="selectedDate"
      dateFormat="dd.mm.yy"
      [inline]="true"
      (onSelect)="onDateSelect($event)"
    ></p-datepicker>
  </div>

  <!-- Right Column -->
  <div class="bg-gray-200 p-4 flex">
    <!-- Right column content goes here -->
    <div *ngIf="teamNames.length === 0" class="w-full text-xl font-semibold text-center text-gray-800">There is no game on this date.</div>

    <!-- Display games -->
    <div *ngIf="teamNames.length > 0" class="w-full">
      <div *ngFor="let team of teamNames" class="bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow mb-4 mx-auto">
        <div class="text-xl font-semibold text-center text-gray-800">
          {{ team.awayTeam }} vs {{ team.homeTeam }}
        </div>
        <div class="text-sm text-gray-600 text-center mt-2">
          <!-- You can add additional info about the game here if needed -->
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>