<div class="grid md:grid-cols-[auto_1fr] gap-4 h-screen">
  <!-- Left Column (Calendar) -->
  <div class="bg-gray-200 p-4 flex justify-center md:block hidden">
    <p-datepicker
      [(ngModel)]="selectedDate"
      dateFormat="dd.mm.yy"
      [inline]="true"
      (onSelect)="onDateSelect($event)"
    ></p-datepicker>
  </div>

  <!-- Right Column -->
  <div class="bg-gray-200 p-4 flex">
    <!-- Right column content goes here -->
    <div *ngIf="teamNames.length === 0" class="w-full text-4xl font-semibold text-gray-800 flex items-center justify-center">
      There is no game on this date.</div>

    <!-- Display games -->
    <div *ngIf="teamNames.length > 0" class="w-full">
      <ng-container *ngFor="let team of teamNames">
        <div class="bg-white p-8 rounded-lg shadow-md hover:shadow-xl transition-shadow mb-4 mx-auto flex flex-col justify-center" (click)="goToMatch(team.gameId)">
          <!-- Home Team -->
          <div class="flex justify-between items-center space-x-2 mb-2">
            <div class="flex items-center space-x-2">
              <img
                [src]="getLogoUrl(team.homeTeam.team.name)"
                alt="{{ team.homeTeam.team.name }} Logo"
                class="h-10 w-10"
                loading="lazy"
              />
              <span class="text-lg font-semibold text-gray-800">
                {{ team.homeTeam.team.name }}
              </span>
            </div>
            <div class="flex items-center space-x-2">
              <!-- Display score for Home Team if 'Final', else show a placeholder -->
              <ng-container *ngIf="team.codedGameState === 'F'; else notHomeFinal">
                <span class="text-lg font-semibold text-gray-800">
                  {{ team.homeTeam.score }}
                </span>
              </ng-container>
              <ng-template #notHomeFinal>
                <ng-container *ngIf="team.codedGameState === 'I'">
                  <div class="w-3 h-3 rounded-full bg-red-500 animate-pulse"></div>
                </ng-container>
                <span class="text-lg font-semibold text-gray-500">
                  {{ team.detailedState }}
                </span>
              </ng-template>
            </div>
          </div>
      
          <!-- Away Team -->
          <div class="flex justify-between items-center space-x-2">
            <div class="flex items-center space-x-2">
              <img
                [src]="getLogoUrl(team.awayTeam.team.name)"
                alt="{{ team.awayTeam.team.name }} Logo"
                class="h-10 w-10"
                loading="lazy"
              />
              <span class="text-lg font-semibold text-gray-800">
                {{ team.awayTeam.team.name }}
              </span>
            </div>
            <div class="flex items-center space-x-2">
              <!-- Display score for Away Team if 'Final', else show a placeholder -->
              <ng-container *ngIf="team.codedGameState === 'F'; else notAwayFinal">
                <span class="text-lg font-semibold text-gray-800">
                  {{ team.awayTeam.score }}
                </span>
              </ng-container>
              <ng-template #notAwayFinal>
                <span class="text-lg font-semibold text-gray-500">
                  {{ team.time }}
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<router-outlet></router-outlet>